<footer class="footer-color-custom text-light mt-auto py-3 text-center  border-secondary">
    <div class="container">
        <p class="mb-0 text-white-75">
            Author: <strong class="text-white">Priscila</strong> |
            <a href="https://github.com/Priscila190" target="_blank" class="text-white text-decoration-underline">
                <i class="fab fa-github me-1"></i>GitHub
            </a>
        </p>
    </div>
</footer>
<style>

    .footer-color-custom {
        background-color: #212529 !important;
    }
</style>
